*.class
gen/
bin/
.DS_Store
bin/classes/dk/mejer/hansen/R$attr.class

bin/classes/dk/mejer/hansen/R$attr.class

gen/dk/mejer/hansen/R.java

bin/classes/dk/mejer/hansen/R$string.class

bin/classes/dk/mejer/hansen/R$layout.class

bin/classes/dk/mejer/hansen/R$drawable.class

bin/classes/dk/mejer/hansen/R$attr.class

bin/classes/dk/mejer/hansen/R$string.class

bin/classes/dk/mejer/hansen/R$attr.class

bin/classes/dk/mejer/hansen/R$attr.class
